*{
    box-sizing: border-box;
}
:root {
    --primary-global-color : #39b54a;
    --global-white : #fff;
    --global-gray-color : rgba(255, 255, 255, 0.5);
    --globla-dark : #0C0C0C;
}
body{
    overflow-x: hidden;
    font-family: 'Lora', serif;
}
.nav-container {
    /* overflow: hidden; */
    height: 100vh;
    /* overflow-x: hidden; */
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)),url("https://media.istockphoto.com/id/1417433518/photo/pine-tree-forest-on-a-hill-desktop-background.jpg?b=1&s=170667a&w=0&k=20&c=G5b-owhVl4okeXUo8cDCWWrtpe3fqQGp3_lr-de20XE=");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
.nav-bar-container {
    padding: 20px 50px;
    position: relative;
}
.nav-toggle-btn {
    color: var(--primary-global-color);
    transition: all 0.3s ease 0s;
    position: fixed;
    right: 40px;

}
.nav-toggle-btn:hover {
    color: var(--global-white);
}
.nav-btn-lines {
    width: 30px;
    height: 3px;
    margin: 5px 0px;
    border-radius: 5px;
    background-color: var(--global-white);
}
.nav-toggle-btn button:focus{
    border: none;
    outline: none;
    box-shadow: none;
}
.nav-items-container {
    width: 250px;
    height: 100vh;
    position: fixed;
    transform: translateX(100%);
    right: -100%;
    top: 0%;
    background-color: var(--globla-dark);
    transition: all 1s ease 0s;
    
}
.nav-items-container.active {
    transform: translateX(0px);
    right: 0px;
}
.nav-items-container ul {
    width: 100%;
    padding: 20px;
    transform: translateX(70px);
    opacity: 0;
    transition: all 2s ease 0s;

}
.nav-items-container ul li:hover a{
    color: var(--global-white);
}
.nav-items-container.active ul{
    transform: translateX(0px);
    opacity: 1;
}
.nav-menu-header {
    height: 100px;

}
.nav-menu-header span {
    color: var(--primary-global-color);
    padding-top: 6px;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 15px;
}

.nav-link {
    font-size: 20px;
    font-weight: 700;
    color: var(--global-white);
}
.nav-close-btn{
    cursor: pointer;
}
.banner-container {
    padding: 100px;
}
.banner-content-container h6 {
    color: var(--global-gray-color);
    letter-spacing: 2px;
}
.banner-content-container h1 {
    color: var(--global-white);
    font-size: 45px;
}
.banner-btn-group {
    margin-top: 100px;
}
.banner-btn {
    padding: 15px 20px;
    margin-right: 40px;
    color: var(--global-white);
    letter-spacing: 2px;
    border: 1px solid var(--global-white);
    background-color: transparent;
    text-decoration: none;
}
.banner-links-group a {
    color: var(--global-white);
    text-decoration: none;
    margin: 10px 0px;
}
.banner-links-title {
    opacity: 0;
    margin-right: 10px;
    transform: translateX(30px);
    transition: all 0.3s ease 0s;
}
.banner-links-group a:hover .banner-links-title {
    opacity: 1;
    transform: translateX(0px);
}
.banner-links-icon {
    width: 30px;
    height: 30px;
    border: 2px solid var(--global-white);
    border-radius: 50%;
    display: grid;
    place-items: center;
}

/* Start We ArE Glint Section */
.weareglint-container {
    background-color: var(--primary-global-color);
}
.section-title h5 {
    color: var(--globla-dark);
}
.section-title h1 {
    color: var(--global-white);
    font-size: 50px;
}
.weareglint-container p {
    padding: 0px 80px;
    text-align: center;
    line-height: 1.5;
    font-weight: 300;
}
.counter-content-container {
    padding: 50px 20px ;
    color: var(--global-white);
    
}
.counter-content-container div {
    border-right: 1px solid #b4b4b4;
}
.counter-content-container:last-of-type{
    border: none;
}
.counter-content-container h1 {
    font-size: 60px;
}
.counter-content-container h4 {
    font-size: 20px;
    color: var(--globla-dark);
}